/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    backface-visibility: hidden;
    background-image: url(imagens/Jonatec2.png); 
    background-repeat: repeat;
    background-position: 500%;
    background-attachment: scroll;
    font-size: 2vw;
    font-family: "trebuchet MS", Helvetica, sans-serif;
     
}

/* *** Layout *** */

#area-cabecalho{
   background-color: #0010a5; 
   padding: 15px;
   text-align: center;
   margin: 0px auto;
}

#area-logo, #area-menu{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#area-principal {
    width: 920px;
    margin: 0px auto;
    padding: 15px;
   
}

#area-lateral {
    margin-top: 1px;

}


p {
    margin: 10px;
}

#area-postagens {
    width: 630px;
    float: left;
    text-align: center;
}

#area-lateral {
    width: 270px;
    float: right;
    
   
}

.conteudo-lateral {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.postagem {
    padding: 10px;
    margin-bottom: 10px;
    background: white;
}
 .postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
 }

.leia {
    background: rgb(255, 255, 255);
}

.jon {
    width: 270px;
    margin: 1px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}
 ul {
    width: 500px;
    
 }



/* *** Formatação Menu *** */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #e60101;
    
    
}

a:hover {
    text-decoration: underline;
    padding: 4px 6px;
    background: #000000;

}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

#area-cabecalho a:hover {
    color: #000000;
    background: #FFF;
    text-decoration: none;

}

.conteudo-lateral a:link, .conteudo-lateral a:visited {
    color: #ff0000;
    line-height: 1em;
    background: #000000;
    text-decoration: none;
    font-weight: bold;
}

.conteudo-lateral a:hover {
    padding: 2px 4px;
    background: #7380f8;
    text-decoration: solid;
}


/* *** Formatações Gerais *** */

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 2.5em;
}

h2 {
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: #000000;
    background: #0010a5ab;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 10px;
}

/* *** Formatação Página *** */