/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "trebuchet MS", Helvetica, sans-serif;
    background: #BDBDBD;
}

/* *** Layout *** */

#area-cabecalho{
   background-color: #0010a5ab; 
   padding: 15px;
   text-align: center;
   margin: 0px auto;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}

#area-lateral {
    margin-top: 1px;

}


p {
    margin: 10px;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
   
}

.conteudo-lateral {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 5px;
    
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
 .postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
 }

.leia {
    background: rgb(255, 255, 255);
}

.jon {
    width: 240px;
    margin: 1px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}




/* *** Formatação Menu *** */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
    
    
}

a:hover {
    text-decoration: underline;
    padding: 4px 6px;
    background: #000000;

}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

#area-cabecalho a:hover {
    color: #000000;
    background: #FFF;
    text-decoration: none;

}


/* *** Formatações Gerais *** */

h1 {
    color: #000000;
    font-size: 2.5em;
}

h2 {
    color: #2E2EFE;
}

h3 {
    color: #000000;
    background: #0010a5ab;
    padding: 5px;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 10px;
}